* {
  /*font-family:cursive;*/
  /*font-family: 'Proxima Nova Soft', 'Helvetica Neue', sans-serif;*/
  /*font-family:"Comic Sans MS", cursive, sans-serif;*/
  /*font-family: 'Varela', sans-serif;*/
  /*font-family: 'Alegreya', serif;*/
  /*font-family: 'Vollkorn', serif;*/
  font-family: 'Open Sans', sans-serif;
}

.App
{
  background: #f5f9fa;
  min-height: 100%;
  min-width: 100%;
  overflow:hidden;
}

.mainPage{
  margin-top: 150px;
  background-image: url('/images/89517.png');
  background-position: center;
  min-height: 700px;
  min-width: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainPageHeader{
  padding-top: 256px;
}

.mainPageHeader .hr:after{
  display: inline-block;
  width: 50%
}

.mainPageFooter{

}

h1, h2{
  font-family: 'Montserrat', sans-serif !important;
}

.headerContainer
{
  padding-top:4%;
  padding-bottom:1%;
  padding-left:0;
}

.borderContainer
{
  border-radius: 15px;
  border-top: 1px solid #e7e7e8;
  padding: 20px;
  opacity: 0.90;
  background-color: white;
  box-shadow: 5px 5px 4px #6666;
}

.peopleCollectionBackground{

}

.createContainer{

}

@media (min-width: 360px) {
  .createContainer{
      width:98%;
  }

  .createContainer .btn{
    font-size:0.89rem;
  }
}

@media (min-width: 480px) {
  .createContainer{
      width:445px;
  }}

@media (min-width: 810px) {
  .createContainer{
      width:480px;
  }}
  
  @media (min-width: 1240px) {
  .createContainer{
    width:480px;
  }}
  
  @media (min-width: 1610px) {
  .createContainer{
      width:480px;
  }}

.boxContainer{
  width:400px;
  }

.searchFooter{
  padding-top:30px;
}

.flexContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-around;
}

.flexContainer .flexItem:first-child{
  padding-left:1rem;
  padding-right:1rem;
}

.flexItem{
  flex: 1 100%;
}
.p-2{
  padding-right: 2rem !important;
}

.FirstRowSearchMainPage{
  padding-top: 8%
}

.FirstRowGroupPage{
  padding-top: 8%
}

.header-nightsky .hero p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  max-width: 660px;
  margin: 0 auto 20px;
  font-weight: normal;
  line-height: 1.5;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.hr {
  display: inline-block;
}

.hr:after {
  content: '';
  display: block;
  border-top: 1px solid;
  color: lightgrey;
  margin-top: 0.5em;
}

.Mylogo{
  margin: 5 0 5 0;
}

.Page
{/*
  background-image: url('/images/background.png');
  background-position:center;
  background-size:20% 30%;
  */
  margin: 30px auto;
}

.LineStyle
{
  border: 1px;
  height: 1px;
  background-image: linear-gradient(to right, rgba(201, 30, 30, 0), rgba(137, 138, 151, 0.75), rgba(31, 43, 214, 0));
}

.PageRow
{
  padding-top:10px;
}

.PageRowCreateNewGroupFooter{
  margin-top: 25px;
  margin-bottom: 15px;
}

.NameField
{
  padding-bottom:10px;
}

.GenderCheckmark {
  background-color: blue;
  border-radius: 50%;
}

.DeleteButton {
  position: absolute;
  top: 8px;
  right: 6px;
  outline: none;
  border: none;
}

.DeleteButton:focus {
   outline: none;
   border: none;
}

.Gender-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.padding-bottom-10{
  padding-bottom: 10px;
}

.padding-0{
  padding-right:0px;
  padding-left:0px;
}

.padding-top-0{
  padding-top:0px;
}

.padding-left-0{
  padding-left:0px;
}

.padding-left-8{
  padding-left:8px;
}

.padding-top-10{
  padding-top:10px;
}

.padding-10{
  margin-bottom:10px;
  margin-left:20px;
}

.padding-bottom-10{
  padding-bottom: 10px;
}
.margin-buttom-20{
  margin-bottom: 20px;
}

.margin-bottom-0{
  margin-bottom: 0px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.padding-buttom-20{
  padding-bottom: 20px;
}

.GroupOfItems{
  border-bottom-style: inset
}

.GroupOfItems:hover{
    background: #0069d9!important;
    color: white;
}

.GroupOfItemsDeleteState{
  border-bottom-style: inset
}

.GroupMembersContainer:first-child{
  padding-top:0px !important;
}

.GroupsPageRow{
  border: 1px solid lightgrey;
  border-radius: .5em;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  text-align: center;
}

.inBorder{
  border: 1px solid lightgrey;
  border-radius: .25em;
}

.list-group-searchPage{
  padding: 6 14 6 6;
}

.list-group-searchPage .list-group-item
{
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
  background:none;
}

.list-group-searchPage .list-group-item:last-child
{
  border-bottom:none;
}

.GroupPageHeader{
  flex-grow: 1;
}

.ColGroupPageResults{
  overflow-wrap: break-word;
  text-align: left;
  padding-right: 0px;
  margin-right: 0px;
  position:relative;
}

.Results{
  border-radius: 15px;
  border: 1px solid #e7e7e8;
  padding: 20px;
  height: 100%; 
  opacity: 0.8;
  background-color: white;
  box-shadow: 5px 5px 4px #6666
}

.TextColorAndSize{
  color:#495057;
  font-size:14px;
}

.RadioOption{
  display: inline-block;
  list-style-type: none;
  vertical-align: -webkit-baseline-middle;

}
.SubGroupsSizeOption{
  display: inline-flex;
  list-style-type: none;
  align-items:center;
}

.SubGroupSelect{
  width: 65px;
}

.SubGroupsDirectionOption{
  display: inline-flex;
  list-style-type: none;
  margin-left: 10px;
  align-items:center;
}

.DirectionSelect{
  width: 175px;
}

.SubGroupsNotParticipating{
  display: inline-flex;
  list-style-type: none;
  margin-left: 10px;
  align-items:center;
}

.NotParticipatingSelect button{
  border: none;
  font-size: 16;
  color: #6c757d;
  width: 220px;
  box-sizing: border-box;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  transition: all 100ms ease 0s;
  outline: 0px !important;
  box-shadow: none;
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
}

.Option label{
  margin-bottom:0px;
}

.btn-sm {
  padding: 3px 10px;
  font-size: 16px;
  border-radius: 10px
}

.TextGrey{
  color:#495057;
}

.SubGroupView{
  max-width: 25%;
  max-width: 25%
}

.Participants{
  position: absolute;
  bottom: 0;
  left: 0;
}

.track-vertical{
  position: absolute;
  width: 6px;
  right: 2px !important;
  bottom: 2px !important;
  top: 2px !important;
  border-radius: 3px !important;
}

.femaleBorder{
  border-radius: 10px;
  border-color:#9837be;
  border-style: solid;
  background: #fd3992;
  color:white;
  display: inline-block;
  margin-top:10px;
}

.maleBorder{
  border-radius: 10px;
  border-color:#333a93;
  border-style: solid;
  background: #3398fe;
  color:white;
  display: inline-block;
  margin-top:10px;
}

.maleAndFemaleBorader{
  border-radius: 10px;
  border-style: solid;
  border-color: #007bff;
  background: white;
  color: #007bff;;
  display: inline-block;
  margin-top:10px;
}

.loader {
  width: 100px;
  height: 100px;
  margin:auto;
  top:0;
  left:0;
  bottom:50%;
  right:0;
  position:absolute;
}